@charset "UTF-8";
.can {
  background-image: url(../img/can_bg.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 110px 0;
  padding-top: calc(50px + (110 - 50) * ((100vw - 320px) / (1900 - 320)));
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.can__wrapper {
  padding: 0 30px;
}

.can__items {
  margin-top: 100px;
  margin-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1900 - 320)));
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 95px;
  grid-row-gap: 50px;
  position: relative;
}

.can__item {
  position: relative;
  border-radius: 20px;
  padding: 34px 28px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.can__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: #ffffff;
  opacity: 0.1;
  pointer-events: none;
}

.can__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: linear-gradient(88.76deg, #ff2c2c 0%, #eeb15c 91.51%);
  top: -25px;
  right: -25px;
  border-radius: 50%;
}

.can__item-title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}

.can__item-text {
  font-size: 14px;
  line-height: 165%;
}

.can .slick-dots {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.can .slick-dots li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.can .slick-dots li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.1;
}

.can .slick-dots li.slick-active {
  background: linear-gradient(88.76deg, #ff2c2c 0%, #eeb15c 91.51%);
}

.can .slick-dots li button {
  display: none;
}

@media (max-width: 1050px) {
  .can__items {
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 800px) {
  .can__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .can__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .can__item {
    margin: 25px 25px 0 2px;
  }
  .can__wrapper {
    padding: 0 2px;
  }
}
