.form {
  width: 100%;
  max-width: 500px;
  min-height: 610px;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px 30px;
  position: relative;
  display: none;
}

.form__title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  margin-bottom: 30px;
}

.form__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.form__input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  outline: none;
  margin-bottom: 20px;
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__decor-1 {
  position: absolute;
  top: -30px;
  left: -15px;
  width: 100%;
  max-width: 200px;
}

.form__decor-2 {
  position: absolute;
  bottom: -15px;
  right: -30px;
  width: 100%;
  max-width: 125px;
}

.form .btn {
  outline: none;
  border: 0;
  max-width: 100%;
}

@media (max-width: 650px) {
  .form__title {
    font-size: 20px;
  }
  .form__text {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .form {
    padding: 50px 15px;
  }
  .form .btn {
    font-size: 18px;
  }
}
