.springboard {
  background-image: url(../img/springboard_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
  position: relative;
}

.springboard__title {
  font-weight: 800;
  font-size: 51.8926px;
  text-transform: uppercase;
}

.springboard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.springboard__info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 830px;
  margin: 0 0 0 auto;
  position: relative;
  margin-top: 126px;
}

.springboard__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 266px;
  position: absolute;
}

.springboard__info-item:nth-child(1) {
  left: -252px;
  bottom: -136px;
}

.springboard__info-item:nth-child(1) .springboard__info-item-border {
  height: 24px;
}

.springboard__info-item:nth-child(2) {
  left: -14px;
  bottom: -78px;
}

.springboard__info-item:nth-child(2) .springboard__info-item-border {
  height: 57px;
}

.springboard__info-item:nth-child(3) {
  left: 187px;
  bottom: -35px;
}

.springboard__info-item:nth-child(3) .springboard__info-item-border {
  height: 104px;
}

.springboard__info-item:nth-child(4) {
  left: 360px;
  bottom: -14px;
}

.springboard__info-item:nth-child(4) .springboard__info-item-border {
  height: 167px;
}

.springboard__info-item:nth-child(5) {
  left: 532px;
  bottom: -27px;
}

.springboard__info-item:nth-child(5) .springboard__info-item-border {
  height: 269px;
}

.springboard__info-item-title {
  font-weight: bold;
  font-size: 15.2992px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.springboard__info-item-border {
  border-top: 2.1856px solid #ffffff;
  border-right: 2.1856px solid #ffffff;
  margin-bottom: 10px;
}

.springboard__info-item-circle {
  background: #ffffff;
  opacity: 0.3;
  width: 100%;
  max-width: 52px;
  height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.springboard__info-img {
  width: 100%;
  max-width: 830px;
  height: 273px;
  margin: 0 0 0 auto;
}

.springboard__info-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.springboard__decor {
  position: absolute;
}

.springboard__decor-1 {
  left: 0;
  max-width: 420px;
  bottom: 100px;
}

.springboard__decor-2 {
  right: 0;
  bottom: -95px;
  max-width: 740px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .springboard__info-img {
    max-width: 700px;
    height: 235px;
  }
  .springboard__info-item:nth-child(1) {
    left: -115px;
  }
  .springboard__info-item:nth-child(2) {
    left: 76px;
  }
  .springboard__info-item:nth-child(3) {
    left: 248px;
    bottom: -47px;
  }
  .springboard__info-item:nth-child(4) {
    left: 388px;
    bottom: -33px;
  }
  .springboard__info-item:nth-child(5) {
    left: 532px;
    bottom: -46px;
  }
  .springboard__decor-1 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .springboard__title {
    text-align: center;
    font-size: 40px;
  }
  .springboard__title br {
    display: none;
  }
  .springboard__info-items {
    margin-top: 370px;
  }
  .springboard__info-img {
    max-width: 550px;
    height: 181px;
  }
  .springboard__info-item-title {
    font-size: 14px;
  }
  .springboard__info-item:nth-child(1) {
    left: 24px;
    bottom: -116px;
  }
  .springboard__info-item:nth-child(2) {
    left: 143px;
  }
}

@media (max-width: 850px) {
  .springboard__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px;
  }
  .springboard__info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .springboard__info-item {
    position: static;
    margin-bottom: 20px;
    max-width: 400px;
  }
  .springboard__info-item:last-child {
    margin-bottom: 0;
  }
  .springboard__info-item .springboard__info-item-border {
    height: 10px !important;
  }
  .springboard__info-item-title {
    font-size: 16px;
  }
  .springboard__info-item-circle {
    display: none;
  }
  .springboard__info-img {
    max-width: 400px;
  }
}

@media (max-width: 700px) {
  .springboard__info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .springboard__info-items {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px;
  }
  .springboard__info {
    width: 100%;
  }
  .springboard__info-item {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .springboard__info-items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .springboard__info-item-title br {
    display: none;
  }
  .springboard__title {
    font-size: 22px;
  }
  .springboard__decor-2 {
    bottom: -20px;
  }
}
